<div class='sidenav'>
    <img src='assets/imgs/Logo_White.svg' class='logo'/>
    <div>
        <nav class='side_nav_option_selected'>
            <img src='assets/imgs/list.svg'/>
            <p>pedidos</p>
        </nav>
        <nav class='side_sub_option side_sub_option_selected'>
            <p>em abertos</p>
        </nav>
        <nav class='side_sub_option'>
            <p>encerrados</p>
        </nav>
        <nav>
            <img src='assets/imgs/user.svg'/>
            <p>clientes</p>
        </nav>
    </div>
    <p class='footer'>Infoway Gestão em Saúde ©, 2019.</p>
</div>