@import'../../styles.scss';

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
    justify-content: center;
    width: 27rem;
    margin:auto;
    position:relative;
    img {
        margin-bottom: $spc_xlarge;
    }
    app-login-form {
        width: 100%;
    }
    p:first-of-type{
        text-align: center;
        margin-top: $spc_default;
        margin-bottom:$spc_xlarge;
    }
    p:last-of-type {
        position: absolute;
        bottom: $spc_xlarge;
    }
}
